OSMAP_BORDER_BASE_URL=https://mail.blackbagsecurity.com
OSMAP_BORDER_HOST=mail.blackbagsecurity.com
OSMAP_BORDER_SSH_HOST=mail.blackbagsecurity.com
OSMAP_BORDER_OUTPUT_DIR=
OSMAP_BORDER_RATE_LIMIT_DELAY_SECONDS=1
OSMAP_BORDER_REQUEST_TIMEOUT_SECONDS=8
OSMAP_BORDER_ALLOW_HOST_ASSISTED_TESTS=false
