OSMAP_BASE_URL=https://mail.blackbagsecurity.com
OSMAP_HOST=mail.blackbagsecurity.com
OSMAP_SSH_HOST=mail.blackbagsecurity.com
OSMAP_TEST_EMAIL=
OSMAP_TEST_PASSWORD=
OSMAP_TOTP_SECRET=
OSMAP_SECONDARY_EMAIL=
OSMAP_OUTPUT_DIR=
OSMAP_WSTG_REMOTE_REPO=/home/foo/OSMAP
OSMAP_RATE_LIMIT_DELAY_SECONDS=1
OSMAP_ALLOW_AUTHENTICATED_TESTS=false
OSMAP_PROMPT_AUTH=false

# Optional safe tuning.
OSMAP_THROTTLE_PROBE_ATTEMPTS=3
OSMAP_REQUEST_TIMEOUT_SECONDS=12
OSMAP_ALLOW_HOST_ASSISTED_TESTS=false
